*.bin
*.hex
*.elf
*.o
debug
release
*.release
*.debug
*.autosave
*debug
*release
*build-informPConfigurator-Desktop_Qt_5_10_1_MinGW_32bit-Relese
*build-informPConfigurator-Desktop_Qt_5_10_1_MinGW_32bit-Debug
*-Relese
*-Debug